
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                    ><i class="ti-menu"></i></a> </li>

                <li class="nav-item hidden-sm-down"></li>
            </ul>

            <ul class="navbar-nav my-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" style="padding-right: .5rem;
                    padding-left: .5rem;line-height: 30px;" href="" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="https://lh5.googleusercontent.com/-H1EU0w0ohMc/AAAAAAAAAAI/AAAAAAAAAAA/NnVNszwEUT8/W96-H96/photo.jpg"
                            alt="user" class="profile-pic" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-text">
                                        <!-- <h4>{{ user.nombre }}</h4> -->
                                      
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLink="./profile"><i class="ti-user"></i> My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a (click)="logout()" class="cursor">
                                    <i class="fa fa-power-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
